*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media(max-width:467px){
    
.signup-main{
    margin: auto;
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(241, 238, 238);
    border-radius: 20px;
}
}
@media (min-width:468px) and (max-width:700px){

    .signup-main{
        margin: auto;
        height: 65%;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(241, 238, 238);
        border-radius: 20px;
    }
}
@media(min-width:700px){

    .signup-main{
        margin: auto;
        height: 60%;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(241, 238, 238);
        border-radius: 20px;
    }
}


.signup-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
   
}

.signup-email{
    height: 20%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.signup-email-heading{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: large;
}
.signup-email-input{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.signup-email-input input{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(196, 190, 190);
    padding-left: 10px;
}










.signup-password{
    height: 20%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.signup-password-heading{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: large;
}
.signup-password-input{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.signup-password-input input{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(196, 190, 190);
    padding-left: 10px;
}



.signup-buttons{
    height: 20%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-signup{
    height: 50%;
    width: 70%;
    display: flex;
    float: left;
    align-items: center;
    color: blue;
}
.login-signup p{
   cursor: pointer;
}
.signup-button{
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-button button{
    height: 90%;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
}