*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.option-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.option-main{
    height: 50%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
}
.option-main button{
    display: flex;
    height: 20%;
    width: 60%;
    margin: auto;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: gray;
}
#option-main-btn1{
    background-color: blue;
}
#option-main-btn2{
    background-color: rgb(255, 67, 53);
}
#option-main-btn3{
    background-color: rgb(154, 152, 152);
}